<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
    <!-- Fix: use <listeners> instead of <Listeners> -->
    <listeners>
        <listener class-name="api.iTestListener.Listeners" />
    </listeners>
    <test thread-count="5" name="Test">
        <classes>
            <class name="api.test.UserTestcase" />
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
